@import "tailwindcss";

.text-shadow-sm {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.text-shadow-lg {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.45);
}

.text-shadow-xl {
  text-shadow: 4px 4px 20px rgba(0, 0, 0, 0.15);
}


@font-face {
  font-family: "Poppins";
  src: url("/Fonts/Poppins-SemiBold.ttf") format("truetype");
}